.loginPage {
  margin: 100px auto;
  display: flex;
  justify-content: center;
  h2 {
    color: yellow;
  }
}
.loginPage_right {
  width: 25%;
  height: 200px;
  padding: 20px;
  .formControl {
    display: flex;
    margin-bottom: 20px;
    label {
      width: 200px;
      position: relative;
      top: 0;
      left: 0;
      line-height: 30px;
    }
    input {
      width: 255px;
    }
  }
}

.loginPage_left {
  width: 25%;
  height: 300px;
  padding: 20px;
  .formControl {
    display: flex;
    margin-bottom: 20px;
    label {
      width: 200px;
      position: relative;
      top: 0;
      left: 0;
      line-height: 30px;
    }
    input {
      width: 255px;
    }
  }
}
.form_left,
.form_right {
  opacity: 0.8;
  background-color: #333333;
  padding: 32px 25px;
  border-radius: 20px;
  .btn_login {
    text-align: center;
    background-color: gray;
    color: yellow;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    &:hover {
      cursor: pointer;
      background-color: white;
      color: black;
    }
  }
}
