.slide_img {
  width: 100%;
  object-fit: fill;
  height: 800px;
}

.slide_icon {
  display: flex;
  justify-content: space-between;
  font-size: 50px;
  position: relative;
  bottom: 400px;
}
i {
  position: relative;
  background-color: white;
  color: black;
  padding: 1px 10px;
  border-radius: 30%;
  cursor: pointer;
  &:hover {
    background-color: gray;
    color: yellow;
  }
}
